<div class="wrap_div1">
    <section id ="friends">
        <h3>Friends</h3>
        <ul class="friends-list">
            <li ng-repeat="user in users">
                <img src="../assets/images/apim32.png" alt="friend" class="img-circle" />
                <span>{{user.username}}</span>
            </li>
        </ul>
        <form class="form-horizontal" role="form">
            <div class="addfriends">
                <label> Add friends</label>
                <input type="text" name="username" ng-model="username" placeholder="email address">
                <a class="button alt" ng-click="createUser()">Submit</a>
            </div>
        </form>
    </section>

    <section id ="expenseReport">
        <h3>Expense Report</h3>
    </section>

    <section id ="addBill">
        <h3>Add a Bill</h3>
        <div class="col">
            <select class="form-control">
                <option value="" disabled selected>With you and *</option>
                <option ng-repeat="user in users">{{user.username}}</option>
            </select>
        </div>

        <div class="col">
            <input type="text" placeholder="Paid by *">
        </div>

        <div class="col">
            <input type="text" placeholder="Bill Amount *">
        </div>

        <div class="col">
            <input type="text" placeholder="Date *">
        </div>

        <a href="#" class="button alt">Add Bill</a>

    </section>
</div>
