<div>
    <div class="signUp">
        <div class="groupInput">
            <input type="text" class="form-control" name="username" ng-model="username" placeholder="Username">
        </div>
        <div class="groupInput">
            <input type="email" class="form-control" name="email" ng-model="email" placeholder="Email">
        </div>
        <div class="groupInput">
            <input type="password" class="form-control" name="password" ng-model="password" placeholder="Password">
        </div>
        <div class="groupInput">
            <input type="password" class="form-control" id="rpassword" placeholder="Repeat Password">
        </div>
        <div class="footer">
            <a class="button alt" ng-click="createUser()">Submit</a>
            <a class="button alt" ng-click="cancel()">Cancel</a>
        </div>
    </div>
</div>
